@import url('./main-layout.css');
@import url('./views/home-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');    html {
      --lumo-base-color: #f4f1c3ff;
      --lumo-primary-color: hsl(3, 56%, 50%);
      --lumo-primary-color-50pct: hsla(3, 56%, 50%, 0.5);
      --lumo-primary-color-10pct: hsla(3, 56%, 50%, 0.1);
      --lumo-primary-text-color: hsl(7, 26%, 23%);
      --lumo-error-text-color: hsl(3, 88%, 67%);
      --lumo-success-text-color: hsl(99, 73%, 43%);
      --lumo-body-text-color: hsla(345, 40%, 16%, 0.94);
      --lumo-border-radius: calc(var(--lumo-size-m) / 2);

    }

    [theme~="dark"] {
      --lumo-primary-color: hsl(22, 67%, 59%);
      --lumo-primary-color-50pct: hsla(22, 67%, 59%, 0.5);
      --lumo-primary-color-10pct: hsla(22, 67%, 59%, 0.1);
      --lumo-base-color: hsl(9, 35%, 21%);
      --lumo-body-text-color: hsla(39, 54%, 88%, 0.9);
      --lumo-primary-text-color: hsl(22, 89%, 70%);
      --lumo-shade-5pct: rgba(33, 33, 33, 0.05);
      --lumo-shade-10pct: rgba(33, 33, 33, 0.1);
      --lumo-shade-20pct: rgba(33, 33, 33, 0.2);
      --lumo-shade-30pct: rgba(33, 33, 33, 0.3);
      --lumo-shade-40pct: rgba(33, 33, 33, 0.4);
      --lumo-shade-50pct: rgba(33, 33, 33, 0.5);
      --lumo-shade-60pct: rgba(33, 33, 33, 0.6);
      --lumo-shade-70pct: rgba(33, 33, 33, 0.7);
      --lumo-shade-80pct: rgba(33, 33, 33, 0.8);
      --lumo-shade-90pct: rgba(33, 33, 33, 0.9);
      --lumo-error-color-50pct: rgba(231, 24, 24, 0.5);
      --lumo-error-color-10pct: rgba(231, 24, 24, 0.1);
      --lumo-success-color-50pct: rgba(62, 229, 170, 0.5);
      --lumo-success-color-10pct: rgba(62, 229, 170, 0.1);
      --lumo-shade: hsl(0, 0%, 13%);
      --lumo-error-color: hsl(0, 81%, 50%);
      --lumo-error-text-color: hsl(0, 86%, 45%);
      --lumo-success-color: hsl(159, 76%, 57%);
      --lumo-success-contrast-color: hsl(159, 29%, 10%);
      --lumo-success-text-color: hsl(159, 61%, 40%);

    }
